# .env

# ── LLM ─────────────────────────────────────
MISTRAL_API_KEY=....
LLM_MODEL=mistral-small-latest
LLM_TEMPERATURE=0.2
LLM_MAX_TOKENS=1024

# ── App ─────────────────────────────────────
INPUT_FILE=data/rapport.json
OUTPUT_FILE=data/output.json
